<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados Enviados</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #c2ecff;
        margin: 0;
        padding: 0;
    }

    h1 {
        text-align: center;
        color: #333;
    }


    div {
        max-width: 400px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    p{
        font-size: large;
    }
</style>
<body>
    <h1>Dados Enviados</h1>
    <div>
    <p><b>Nome:</b> {{nome}}</p>
    <p><b>Email:</b> {{email}}</p>
    <p><b>Telefone:</b> {{telefone}}</p>
    </div>
</body>
</html>
